<div class="different">
    <div class="shadow"></div>
    <div class="develop">
      <div class="text">
        <h1 class="text_2">¿Está listo para dar sus primeros pasos hacia la agilidad?</h1>
        <br>
        <p class="text_1">
          Si está familiarizado con alguna de estas preguntas, tenemos paquetes de inicio para equipos ágiles que están
          listos para comenzar a tomar sus primero pasos hacia la agilidad.
        </p>
      </div>
      <br><br>
      <a class="btn_ourServices" href="*">Escribenos </a>
    </div>
  </div>
