<div class="container">
    <div class="column">
        <div class="first">
        <h2>Pienza diferente hazlo diferente</h2>
        <p >Buscamos crear soluciones que aporten valor a los negocios utilizando <br> la tecnología como vehículo y generar experiencias únicas a los clientes de nuestros clientes.<br> Para lograrlo seguimos tres principios <br> fundamentales</p>
        </div>
    </div>
    <div class="column">
        <div class="second">
            <i class="fa-solid fa-rotate " style="color: #ffffff;font-size: 50px " ></i>
            <h2>Somos Ágiles</h2>
            <p >Aplicamos marcos de trabajo ágiles a todas nuestras iniciativas porque <br> entendemos que son la manera más rápida y efectiva de agregar valor al <br> negocio</p>
        </div>
    </div>
    <div class="column">
        <div class="third">
            <i class="fas fa-cloud " style="color: #ffffff;font-size: 50px"></i>            
            <h2>Pensamiento Disruptivo</h2>
            <p >Pensar de manera distinta requiere explorar varios escenarios y no <br> conformarse con la opción segura, si queremos resultados diferentes no <br> podemos hacer siempre lo mismo.</p>
        </div>
    </div>
    <div class="column">
        <div class="fourth">
            <i class="fa-solid fa-paper-plane " style="color: #ebeef5;font-size: 50px;"></i>
            <h2>Investigación e Innovación</h2>
            <p >La innovación e investigación son la tercera pieza fundamental de nuestro <br> esquema, investigamos constantemente en Gartner e implementamos <br> nuevas soluciones a través de nuestra célula de innovación

            </p>
        </div>
    </div>
  </div>