<app-banner-pages></app-banner-pages>
<ng-container *ngIf="{ org:certOrganizations$ | async, col:certColaborators$| async} as cert">
  <div *ngIf="cert.org && cert.col; else loading" >
  <div class="space"></div>

  <div id="titulo" class="div-container text-center">
    <h3 class="title">Certificaciones</h3>
    <h4 class="title">Organización</h4>
  </div>

  <section id="seccionPrimera" class="div-container">
    <div id="contenedorSeccionPrimera" class="div-container">
      <div class="grid grid-cols-3 gap-4">
        <div class="margin-box" *ngFor="let object of cert.org.data">
          <div>
            <div class="image-boxes-holder">
              <img
                src="{{object.attributes.img.data.attributes.formats.small.url}}"
                alt="{{object.attributes.img.data.attributes.alternativeText}}"
              />
            </div>
            <h5 class="title">{{ object.attributes.title }}</h5>
            <p>
              {{ object.attributes.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="titulo" class="div-container text-center">
    <h3 class="title">Certificaciones</h3>
    <h4 class="title">Colaboradores</h4>
  </div>

  <section id="seccionSegunda" class="div-container">
    <div id="contenedorSeccionPrimera" class="div-container">
      <div>
      <div class="grid grid-cols-4 gap-4">

        <div class="margin-box" *ngFor="let object of cert.col.data">
          <div>
            <div class="image-boxes-holder">
              <img
                class="image-boxes-img"
                src="{{object.attributes.img.data.attributes.formats.small.url}}"
                alt="{{object.attributes.img.data.attributes.alternativeText}}"
                title=""
              />
            </div>
            <h5 class="title">{{ object.attributes.title }}</h5>
          </div>
        </div>
      </div>

      </div>
    </div>
  </section>
</div>
</ng-container>
<ng-template #loading>
  <div class="justify-center content-center text-[20px] w-[70%] mx-auto mt-[40px]"> 
      <p>Loading.......</p>
     </div>
</ng-template>