<ng-container *ngIf="weOfb$ | async as offer">
<div class="container-offer">
  <div class="list-offer">
    <h2 class="title-offer">{{offer.attributes.title}}</h2>
    <ul>
      <li *ngFor="let i of offer.attributes.list_offer_services.data">{{i.attributes.item}}</li>

    </ul>
  </div>

  <div class="list-figures">
    <ng-container *ngFor="let i of offer.attributes.report_offer_services.data;let index = index">
    <div *ngIf="((index+1)%2!==0)" class="figure-element-impar">
      <div class="icon-figure-impar">
        <i class="fa-sharp fa-solid {{i.attributes.icon}}"></i>
      </div>
      <div class="line-figure"></div>
      <div class="info-figure-impar">
        <div class="points">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h3>{{i.attributes.number}}</h3>

        <span>{{i.attributes.description}}</span>
      </div>
    </div>

    <div *ngIf="((index+1)%2==0)" class="figure-element-par">
      <div class="info-figure-par">

        <div class="points">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

        <h3>{{i.attributes.number}}</h3>
        <span>{{i.attributes.description}}</span>
      </div>
      <div class="line-figure"></div>
      <div class="icon-figure-par">
      <i class="fa-sharp fa-solid {{i.attributes.icon}}"></i>
      </div>
    </div>

</ng-container>

  </div>
</div>

</ng-container>
