@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";
.banner {
  width: 100%;
  height: 75vh;
  position: relative;

  .banner_container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.down-banner-container {
  width: 25px;
  height: 15px;
  background-color: #000124;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  border-radius: 0px 0px 5% 0px;
  margin-left: 20%;
  margin-top: 180px;
  border-bottom-right-radius: 4px;
}

.shadow {
  background: rgba(5, 7, 12, 0.3);
  clip-path: polygon(100% 8%, 100% 40%, 0 72%, 0 48%);
  width: 90%;
  height: 150px;
  position: absolute;
  bottom: -70px;
  right: 5%;
}

.develop {
  background-color: #000124;
  width: 100%;
  height: 250px;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  position: absolute;
  bottom: -180px;
  border-radius: 0px 0px 7px 7px;
  .develop_text {
    color: white;

    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: "Oswald", Helvetica, sans-serif;

    h3 {
      font-size: 23px;
      font-weight: 300;
      text-align: left;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      opacity: 0.6;
      text-align: left;
    }
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    width: 100%;
    height: 1000px;
    position: relative;

    .banner_container {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
    }
  }

  .shadow {
    background: rgba(5, 7, 12, 0.3);
    clip-path: polygon(100% 8%, 100% 40%, 0 72%, 0 48%);
    width: 90%;
    height: 250px;
    position: absolute;
    bottom: 70px;
    right: 5%;
  }
  .down-banner-container {
    margin-top: 0;
  }

  .develop {
    background-color: #000124;
    width: 100%;
    height: 300px;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    position: absolute;
    bottom: 0;
    .develop_text {
      color: white;
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      font-family: "Oswald", Helvetica, sans-serif;

      h3 {
        font-size: 23px;
        font-weight: 300;
        text-align: center;
      }

      p {
        font-size: 18px;
        font-weight: 300;
        opacity: 0.6;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .banner {
    width: 100%;
    height: 500px;
    position: relative;
    padding-top: 160px;
    margin-bottom: 450px;

    .banner_container {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
    }
  }
  .shadow {
    background: rgba(5, 7, 12, 0.3);
    clip-path: polygon(100% 8%, 100% 50%, 64% 50%, 0 15%);
    width: 40%;
    height: 650px;
    position: absolute;
    top: 550px;
    right: 5%;
  }
  .down-banner-container {
    margin-top: 0;
  }

  .develop {
    background-color: #000124;
    width: 100%;
    height: 350px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    position: absolute;
    top: 600px;
    .develop_text {
      color: white;
      width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      font-family: "Oswald", Helvetica, sans-serif;

      h3 {
        font-size: 23px;
        font-weight: 300;
        text-align: center;
      }

      p {
        font-size: 18px;
        font-weight: 300;
        opacity: 0.6;
        text-align: center;
      }
    }
  }
}

@include mobile {
  .banner {
    width: 100%;
    height: 500px;
    position: relative;
    padding-top: 160px;
    margin-bottom: 590px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50%;
    background-size: contain;

    .banner_container {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .shadow {
    background: rgba(5, 7, 12, 0.3);
    clip-path: polygon(100% 8%, 100% 40%, 0 72%, 0 18%);
    width: 90%;
    height: 650px;
    position: absolute;
    top: 550px;
    right: 5%;
  }
  .down-banner-container {
    margin-top: 0;
  }

  .develop {
    background-color: #000124;
    width: 100%;
    height: 490px;
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
    position: absolute;
    top: 600px;
    .develop_text {
      color: white;
      width: 70%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      font-family: "Oswald", Helvetica, sans-serif;

      h3 {
        font-size: 23px;
        font-weight: 300;
        text-align: center;
      }

      p {
        font-size: 18px;
        font-weight: 300;
        opacity: 0.6;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .banner {
    position: relative;
    padding-top: 190px;
    margin-bottom: 619px;
  }
  .develop {
    height: 520px;
  }
}

@media screen and (max-width: 450px) {
  .banner {
    position: relative;
    padding-top: 230px;
  }
}