<div class="container_consulting_1">
  <div class="consulting_1 consulting">
    <h2 class="main_text">Servicio de transformacion Agil Empresarial</h2>
  </div>

  <div class="consulting_2 consulting">
    <i class="fa-sharp fa-solid fa-house"></i>
    <div class="triangle_1 triangle"></div>
    <p class="second_text">ENTRENAMIENTO</p>
  </div>

  <div class="consulting_3 consulting">
    <i class="fa-sharp fa-solid fa-house"></i>
    <div class="triangle_2 triangle"></div>
    <p class="second_text">ENTRENAMIENTO</p>
  </div>

  <div class="consulting_4 consulting">
    <i class="fa-sharp fa-solid fa-house"></i>
    <div class="triangle_3 triangle"></div>
    <p class="second_text">ENTRENAMIENTO</p>
  </div>
  <div class="consulting_5 consulting">
    <i class="fa-sharp fa-solid fa-house"></i>
    <div class="triangle_4 triangle"></div>
    <p class="second_text">ENTRENAMIENTO</p>
  </div>
</div>
