.container_consulting_1 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.consulting {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
  width: 20%;
 height: 240px;
 margin-bottom: 5px;
}

.consulting_1 {
  background-color: #000124;
  display: flex;
}


.triangle {
  width: 20px;
  height: 20px;
  clip-path: polygon(0 0, 0% 100%, 50% 50%);
  position: absolute;
  left: -2px;
  top: 20px;
}

.main_text {
  font-family: "Oswald", sans-serif;
  color: white;
  display: block;
  font-size: 25px;
  font-weight: 300;
  padding-left: 5%;
  margin-right: 30px;
}
.second_text {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

i {
  font-size: 58px;
  color: white;

}

@keyframes temblor {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(4px, 0px);
  }
  20% {
    -webkit-transform: translate(0px, 4px);
  }
  30% {
    -webkit-transform: translate(4px, 0px);
  }
  40% {
    -webkit-transform: translate(0px, 4px);
  }
  50% {
    -webkit-transform: translate(4px, 0px);
  }
  60% {
    -webkit-transform: translate(0px, 4px);
  }
  70% {
    -webkit-transform: translate(4px, 0px);
  }
  80% {
    -webkit-transform: translate(0px, 4px);
  }
  90% {
    -webkit-transform: translate(4px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}
i:hover {
  animation: temblor 0.5s ;
}

@media screen and (max-width: 768px) {
  .consulting{
    width: 100%;
    margin-bottom: 1px;
  }
  .main_text{
    width: 100%;
    font-size: 30px;
    margin: 0;
  }
  .consulting_1{
    height: 150px;
  }

  .triangle {
    display: none;
  }

}

@media screen and (max-width: 400px) {
  .main_text {
    margin: auto;
  }
}
