<ng-container *ngIf="bussServ$ | async as bs">
  <div class="container_consulting_1">
    <div class="consulting_1 consulting">
      <h2 class="main_text">{{bs.attributes.title}}</h2>
    </div>

    <div class="consulting" *ngFor="let i of bs.attributes.bussines_child_services.data; let a=index" [ngStyle]="{'background-color': boxColor(a)}">
      <i class="fa-sharp fa-solid {{bs.attributes.bussines_child_services.data[a].attributes.icon}}"></i>
      <div class="triangle" [ngStyle]="{'background-color': triangleColor(a)}"></div>
      <p class="second_text">{{bs.attributes.bussines_child_services.data[a].attributes.title}}</p>
    </div>

  </div>
  </ng-container>
