<ng-container *ngIf="bussServ$ | async as bs">
<div class="container_consulting_1">
  <div class="consulting_1 consulting">
    <h2 class="main_text">{{bs.attributes.title}}</h2>
  </div>

  <div class="consulting_2 consulting">
    <i class="fa-sharp fa-solid {{bs.attributes.bussines_child_services.data[0].attributes.icon}}"></i>
    <div class="triangle_1 triangle"></div>
    <p class="second_text">{{bs.attributes.bussines_child_services.data[0].attributes.title}}</p>
  </div>

  <div class="consulting_3 consulting">
    <i class="fa-sharp fa-solid {{bs.attributes.bussines_child_services.data[1].attributes.icon}}"></i>
    <div class="triangle_2 triangle"></div>
    <p class="second_text">{{bs.attributes.bussines_child_services.data[1].attributes.title}}</p>
  </div>

  <div class="consulting_4 consulting">
    <i class="fa-sharp fa-solid {{bs.attributes.bussines_child_services.data[2].attributes.icon}}"></i>
    <div class="triangle_3 triangle"></div>
    <p class="second_text">{{bs.attributes.bussines_child_services.data[2].attributes.title}}</p>
  </div>
  <div class="consulting_5 consulting">
    <i class="fa-sharp fa-solid {{bs.attributes.bussines_child_services.data[3].attributes.icon}}"></i>
    <div class="triangle_4 triangle"></div>
    <p class="second_text">{{bs.attributes.bussines_child_services.data[3].attributes.title}}</p>
  </div>
</div>
</ng-container>
