
<div class="contentRectangle">
    <div class="contentRectangle__transform">
        <div class="contentRectangle__transform-contentText">
            <h4 class="contentRectangle__transform-contentText-h4">
                Lo Hacemos Diferente!
                <br>
                Usamos la innovación e investigación para generar nuevas capacidades en empresas y negocios digitales.
            </h4>  
        </div>
        <div class="contentRectangle__transform-button">
            Nuestros Servicios
        </div>
    </div>
    <div class="contentBubleTriangle">

    </div>
</div>
