<div class="container">
  <p class="share">SHARE:</p>
  <div class="container_socials">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-pinterest-p"></i>
    <i class="fa-brands fa-google-plus-g"></i>
    <i class="fa-solid fa-envelope"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-pinterest-p"></i>
    <i class="fa-brands fa-google-plus-g"></i>
    <i class="fa-solid fa-envelope"></i>
  </div>
</div>
