<ng-container *ngIf="dataShare$ |async as d; else noBanner">
<div class="container">
  <p class="share">SHARE:</p>
  <div class="container_socials">
    <a *ngFor="let i of d.data" target="_blank" href="{{i.attributes.Url}}">
    <i class="{{i.attributes.icon}}"></i>
    </a>
  </div>
</div>
</ng-container>

<ng-template #noBanner>
  <div class="container-loading">
  <img class="logo-loading" src="https://res.cloudinary.com/dg80o93to/image/upload/v1685738117/Logo_preload_2_909f37fbc5.png" alt="mdp">
  </div>
</ng-template>
