<div class="content-box-form">
    <div class="box-left">
        <h3>LIBRO DE RECLAMACIONES</h3>
        <p>Conforme a lo establecido en el Código de Protección y Defensa del Consumidor ponemos a su disposición
            nuestro Libro de Reclamaciones virtual.</p>
        <br>
        <p>Indicaciones:</p>
        <br>
        <p>Complete cada uno de los campos indicados en el formulario y presione el botón "enviar" para finalizar el
            proceso, nuestro sistema le enviará una copia al correo que consigno en el formulario.</p>
    </div>
    <div class="content-form">
        <h3>LIBRO DE RECLAMACIONES VIRTUAL</h3>
        <p>Por favor complete los campos señalados con la información solicitada para poder atender su reclamo o queja
            de manera más óptima.</p>

        <div class="section-information-services">
            <div class="container-information">
                <div class="form-info-services">
                    <form [formGroup]="form" (ngSubmit)="sendForm()">

                        <div class="row-1">
                            <div class="row-2">
                                <div class="input-3 arrow-up-down"
                                    [ngClass]="{'warning': this.form.get('tiposol')?.invalid && this.form.get('tiposol')?.touched}">
                                    <label>Tipo de solicitud</label>
                                    <select size="1"  formControlName="tiposol" >
                                        <option value="queja">Queja</option>
                                        <option value="reclamo">Reclamo</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row-2">
                                <div class="input-3"
                                    [ngClass]="{'warning': this.form.get('fecha')?.invalid && this.form.get('fecha')?.touched}">

                                    <label for="start">Fecha</label>
                                    <input class="input-date" type="date" id="start" name="trip-start"
                                        formControlName="fecha">
                                </div>
                            </div>
                        </div>

                        <div class="row-1">

                            <div class="row-2">
                                <div class="input-3 arrow-up-down"
                                    [ngClass]="{'warning': this.form.get('tipodoc')?.invalid && this.form.get('tipodoc')?.touched}">
                                    <label>Tipo de documento</label>
                                    <select  formControlName="tipodoc" >
                                        <option value="dni">DNI</option>
                                        <option value="carnet">Carnet de Extranjería</option>
                                        <option value="ruc">RUC</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row-2">
                                <div class="input-3"
                                    [ngClass]="{'warning': this.form.get('numerodoc')?.invalid && this.form.get('numerodoc')?.touched}">
                                    <label>Número de documento</label>
                                    <input type="number"  formControlName="numerodoc" >
                                </div>

                            </div>

                        </div>


                        <div class="row-1 only-input">
                            <div class="row-2">
                                <div class="input-1"
                                    [ngClass]="{'warning': this.form.get('nombre')?.invalid && this.form.get('nombre')?.touched}">
                                    <label>Nombre persona natural o juridica</label>
                                    <input type="text" formControlName="nombre">

                                </div>
                            </div>
                        </div>

                        

                        <div class="row-1 only-input">
                            <div class="row-2">
                                <div class="input-1"
                                    [ngClass]="{'warning': this.form.get('persona')?.invalid && this.form.get('persona')?.touched}">
                                    <label>Nombre de la persona que coloca el reclamo / queja</label>
                                    <input type="text" formControlName="persona">
                                </div>
                            </div>
                        </div>

                        <div class="row-1">

                            <div class="row-2">
                                <div class="input-3 arrow-up-down"
                                    [ngClass]="{'warning': this.form.get('tipodocpersona')?.invalid && this.form.get('tipodocpersona')?.touched}">
                                    <label>Tipo de documento</label>
                                    <select  formControlName="tipodocpersona" >
                                        <option value="dni">DNI</option>
                                        <option value="carnet">Carnet de Extranjería</option>
                                        <option value="ruc">RUC</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row-2">
                                <div class="input-3"
                                    [ngClass]="{'warning': this.form.get('numerodocpersona')?.invalid && this.form.get('numerodocpersona')?.touched}">
                                    <label>Número de documento</label>
                                    <input type="number"  formControlName="numerodocpersona" >
                                </div>

                            </div>

                        </div>


                        <div class="row-1">

                            <div class="row-2">
                                <div class="input-3"
                                    [ngClass]="{'warning': this.form.get('telefono')?.invalid && this.form.get('telefono')?.touched}">
                                    <label>Telefono</label>
                                    <input type="number" formControlName="telefono">
                                </div>

                            </div>

                            <div class="row-2">
                                <div class="input-1"
                                    [ngClass]="{'warning': this.form.get('email')?.invalid && this.form.get('email')?.touched}">
                                    <label>Email</label>
                                    <input type="email" formControlName="email">
                                </div>
                            </div>
                        </div>

                        <div class="row-1 only-input">
                            <div class="row-2">
                                <div class="input-1"
                                    [ngClass]="{'warning': this.form.get('direccion')?.invalid && this.form.get('direccion')?.touched}">
                                    <label>Dirección</label>
                                    <input type="text" formControlName="direccion">
                                </div>
                            </div>
                        </div>
                        <div class="row-3"
                            [ngClass]="{'warning': this.form.get('descripcion')?.invalid && this.form.get('descripcion')?.touched}">
                            <label>Descripción</label>
                            <textarea name="" id="" cols="40" rows="4" formControlName="descripcion"></textarea>
                        </div>

                        <div class="row-3"
                            [ngClass]="{'warning': this.form.get('mensaje')?.invalid && this.form.get('mensaje')?.touched}">
                            <label>¿QUÉ NOS SOLICITA COMO PARTE DE LA QUEJA O RECLAMO?</label>
                            <textarea name="" id="" cols="40" rows="6" formControlName="mensaje"></textarea>
                        </div>
                        <button type="submit">Enviar</button>

                    </form>

                </div>

            </div>
        </div>
    </div>
</div>