/*----------COLORS----------*/
$background-white-color: #ffffff;
$background-blue-color: #000124;
$background-grey-color: #444444;

$banner-first-color: #3fa9f5;
$banner-second-color: #00b7e1;
$banner-third-color: #33c5e7;
$banner-fourth-color: #66d4ed;

$btn-twitter-hover: #0c7abf;

$icon-grey-color: #414141;
$icon-hover: #121212;

$border-input-form: #d9d9d9;

/*---------- TEXT COLORS----------*/

$white-text-color: #fff;
$header-text-color: #8f909f;
$blue-text-color: #000124;
$grey-form-text-color: #535353;
$grey-text-form-color: #8b8c8d;
$form-control-text: #d9d9d9;

/*------------- FONTS-------------*/
