<div class="container">
  <div class="box_1 box">
    <h1 class="titleFather">{{ steps.titleFather }}</h1>
    <br />
    <p class="textFather">{{ steps.textFather }}</p>
  </div>

  <div class="box_2 box">
    <div class="triangle_1 triangle"></div>
    <i class="fa-sharp fa-solid fa-house"></i>
    <!--<p class="icons" *ngFor="let i of steps.icons">{{ i }}</p>-->
    <p class="titleChild">{{ steps.titleChild[0] }}</p>
    <p class="textChild">{{ steps.textChild[0] }}</p>
  </div>

  <div class="box_3 box">
    <div class="triangle_2 triangle"></div>
    <i class="fa-sharp fa-solid fa-house"></i>

    <!--<p class="icons" *ngFor="let i of steps.icons">{{ i }}</p>-->
    <p class="titleChild">{{ steps.titleChild[1] }}</p>
    <p class="textChild">{{ steps.textChild[1] }}</p>
  </div>

  <div class="box_4 box">
    <div class="triangle_3 triangle"></div>
    <i class="fa-sharp fa-solid fa-house"></i>

    <!--<p class="icons" *ngFor="let i of steps.icons">{{ i }}</p>-->
    <p class="titleChild">{{ steps.titleChild[2] }}</p>
    <p class="textChild">{{ steps.textChild[2] }}</p>
  </div>
</div>
