<ng-container *ngIf="arrayblogDetail">
<div class="header-arco  w-full bg-[#000124]">
  <div class="menu-arco">
      <ul class="list-menu-arco">
          <li class="li-arco">
              <a class="link-style" [routerLink]="['/']">inicio</a>
          </li>

          <li class="li-arco-first slash-arco-first">
              <a class="link-style-first">{{arrayblogDetail[0].attributes.Category}}</a>
          </li>

          <li class="li-arco-two slash-arco">
            <a class="link-style">archivo de categoria "{{arrayblogDetail[0].attributes.Category}}"</a>
        </li>
      </ul>
  </div>
</div>


  <br>
<div class="container">
  <div *ngFor="let i of arrayblogDetail; let index=index" class="container_1" (click)="getIndex(index)">
      <div class="container_2">
        <img class="img" src="{{i.attributes.UrlImage}}" alt="{{i.attributes.Title}}">
        <a class="btn_more_1"></a>
      </div>
      <br>
      <div class="container_3">
          <h4 class="title">{{i.attributes.Title}}</h4>
          <p class="date">{{i.attributes.Date}} POR MDP</p>
          <p class="text">{{i.attributes.preview}}...</p>
          <p>PUBLICADO EN {{i.attributes.Category|uppercase}}</p>
      </div>
  </div>


  </div>




</ng-container>
