h2 {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
}

p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.content-ourValues section {
    margin-bottom: 20%;
    padding: 0 60px;
}

.h2-ourValues {
    margin-bottom: 2.5rem;
}

.content-ourValues_image {
    display: grid;
    grid-auto-rows: 12.5rem;
    gap: 2rem;
    max-width: 67rem;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.two-images {
    grid-template-columns: repeat(2, 1fr);
}

.one-image {
    grid-template-columns: repeat(1, 1fr);
}

.content-ourValues h2 {
    text-align: center;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    line-height: 40px;
    font-weight: 300;
    font-style: normal;
    color: #535353;
}

.content-ourValues_image div h2 {
    text-align: left;
    font-size: 30px;
    margin: 40px 0 25px 0;
}

.content-ourValues_image div p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    color: #535353;
}

@media (max-width: 65em) {
    .two-images {
        grid-template-columns: repeat(1, 1fr);
        gap: 22rem;
    }

    .content-ourValues section {
        margin-bottom: 45%;
        padding: 0 100px;
    }
}