<ng-container *ngIf=" values$ | async as val">
    <div *ngIf="val ; else loading">

       <!-- <img src="{{page.val.data[0].attributes.image.data[0].attributes.url}}">-->
        <div class="container">

            <div *ngIf="(val.data.length)%2==0">
                <div class="values">
                    <div *ngFor="let item of val.data; let indice = index">
                        <div class="item">
                            <img src="{{item.attributes.image.data[0].attributes.url}}">
                            <h2>{{item.attributes.tittle}}</h2>
                            <p>{{item.attributes.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="val.data.length%2!=0">
                <div class="values">
                    <div *ngFor="let item of val.data; let indice = index">

                        <div *ngIf="indice<val.data.length-1" class="item">
                            <img src="{{item.attributes.image.data[0].attributes.url}}">
                            <h2>{{ item.attributes.tittle }}</h2>
                            <p>{{ item.attributes.description }}</p>
                        </div>
                    </div>
                </div>

                <div class="item1">
                    <img src="{{val.data[val.data.length-1].attributes.image.data[0].attributes.url}}">
                    <h2>{{ val.data[val.data.length - 1].attributes.tittle }}</h2>
                    <p>{{ val.data[val.data.length - 1].attributes.description }}</p>
                </div>

            </div>
        </div>



    </div>
    <ng-template #loading>
        <p>loading.......</p>
    </ng-template>