<ng-container *ngIf="{sup: subpage$ | async, offer:weOfb$ | async} as page">
  <div *ngIf="page.sup && page.offer as pageSup ; else loading">

    <div class="container">
      <div class="left-column">
        <!-- contenido de la columna izquierda -->
        <h2>{{page.sup.data[0].attributes.tittle}}</h2>
        <p>{{page.sup.data[0].attributes.description_about_pages.data[0].attributes.description}}</p>
      </div>
      <div class="right-column">
        <!-- contenido de la columna derecha -->

        <div class="list-figures">
          <ng-container *ngFor="let i of page.offer.data;let index = index">
            <div *ngIf="((index+1)%2!==0)" class="figure-element-impar">
              <div class="icon-figure-impar">
                <i class="fa-sharp fa-solid {{i.attributes.icon}}"></i>
              </div>
              <div class="line-figure"></div>
              <div class="info-figure-impar">
                <div class="points">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <h3>{{i.attributes.number}}</h3>

                <span>{{i.attributes.description}}</span>
              </div>
            </div>

            <div *ngIf="((index+1)%2==0)" class="figure-element-par">
              <div class="info-figure-par">

                <div class="points">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>

                <h3>{{i.attributes.number}}</h3>
                <span>{{i.attributes.description}}</span>
              </div>
              <div class="line-figure"></div>
              <div class="icon-figure-par">
                <i class="fa-sharp fa-solid {{i.attributes.icon}}"></i>
              </div>
            </div>
          </ng-container>

        </div>


      </div>
    </div>

  </div>
</ng-container>
<ng-template #loading>
  <div class="justify-center content-center text-[20px] w-[70%] mx-auto mt-[40px]">
    <p>Loading.......</p>
  </div>
</ng-template>