
<div class="header-arco h-[300px] w-full bg-[#000124]">
  <div class="menu-arco">
      <ul class="list-menu-arco">
          <li class="li-arco">
              <a class="link-style" [routerLink]="['/']">inicio</a>
          </li>

          <li class="li-arco slash-arco">
              <a class="link-style" [routerLink]="['/blog']">blog</a>
          </li>

          <li class="li-arco slash-arco">
            <a class="link-style" >categoria</a>
        </li>

          <li class="li-arco slash-arco" style="color: #ffffff80">titulo</li>
      </ul>
  </div>
</div>



<p>detail-blog works!</p>
<p>{{id}}</p>
<div style="height: 50vH; width: 80%; margin: 0 auto; background-color: gray;"></div>

<app-list-comment></app-list-comment>