@import "../../../../styles/abstracts/mixins";

.heardActive{
  color: red;
}

.header-arco {
  position: relative;
  display: flex;
  justify-content: center;
  .menu-arco {
    padding-left: 15px;
    padding-right: 15px;
    height: fit-content;
    width: 80%;
    position: absolute;
    top: 60%;

    .list-menu-arco {
      background-color: #000124;
      padding: 5px;
      margin: 0 0 10px;
      list-style: none;
      float: left;
      .li-arco {
        font-size: 11px;
        float: left;
        position: relative;
        text-transform: uppercase;
        color: hsla(0, 0%, 100%, 0.85);
        .link-style {
          font-size: 11px;
          padding: 0;
          cursor: pointer;
        }
      }

      .slash-arco:before {
        content: "/";
        display: inline-block;
        margin: 0 7px;
        color: hsla(0, 0%, 100%, 0.85);
      }
    }
  }
}





.container{
  margin-top: 100px;
}
.container_1{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
p{
    display: inline;
}

b{
    font-size: 12px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.box_likes{
  width: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date{
    display: inline;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9a9a9a;
}
.number{
    display: inline;
    font-size: 16px;
}
.title{
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin: 15px 0;
}
.subtitle{
    font-size:"Oswald", sans-serif;
    font-weight: 200;
    color: #535353;
}
.container_2{
    width: 60%;
    margin: 50px auto;
}
.principal-img{
    width: 400px;
    height: 300px;
}
.definition{
    color: #535353;
    font-weight: bold;
    font-size: 18px;
    display: inline;
}
.description{
  font-size: 18px;
    display: inline;
    color: #535353;
}

.description_1{
  margin-top: 10px;
  color: #535353;
  font-size: 20px;
}

.description_3{
  font-size: 18px;
    display: inline;
    margin-top: 10px;
    color: #535353;
}

.container_img{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img_list{
    width: 250px;
    height: 250px;
    margin-bottom: 5px;
}

.subtitle_1{
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.subtitle_2{
    color: #535353;
    display: block;
    font-size: 24px;
}
.description_2{
  font-size: 18px;
    display: block;
    color: #535353;
}
.list{
  margin-top: 10px;
}
.list_1{
  margin: auto;
  width: 80%;
  color: #535353;
  font-size: 18px;
  list-style: disc;
}


@include mobile{
  .header-arco {
    height: 450px;
  }
  .container_1{
    width: 80%;
  }
  .container_2{
    width: 80%;
  }
}
