<ng-container *ngIf="data">
<div class="header-arco h-[300px] w-full bg-[#000124]">
  <div class="menu-arco">
      <ul class="list-menu-arco">
          <li class="li-arco">
              <a class="link-style" [routerLink]="['/']">inicio</a>
          </li>

          <li class="li-arco slash-arco">
              <a class="link-style" [routerLink]="['/blog']">blog</a>
          </li>

          <li class="li-arco slash-arco">
            <a class="link-style" (click)="getcategory()">{{data.attributes.Category}}</a>
        </li>

          <li class="li-arco slash-arco" style="color: #ffffff80">{{data.attributes.Title}}</li>
      </ul>
  </div>
</div>


<div class="Container-detailBlog">
<div class="header-detailBlog">
<span>{{data.attributes.Date}} / PUBLICADO EN {{data.attributes.Category}}</span>
<div class="like"></div>
</div>


<h1 class="title-detail">{{data.attributes.Title}}</h1>
<p class="descriptionImg-detail"></p>

<div>
<h2 class="Subtitle-description-detail"></h2>

</div>

</div>


</ng-container>
