* {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.search {
  position: relative;
  margin-right: 0!important;
}

.container-main-search{
  position: absolute;
  right:0;
  width: 240px;
  height: auto;
//  border: solid 2px green;
}


.search-container {

  padding: 30px;
  background: #f4f4f4;
  width: 100%;
  border-bottom: 1px solid #fff;
  z-index: 1;
  line-height: 22.1px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
}

.searchform {
  font-size: 13px;
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 100%;
}

.inputbox {
  background: none;
  border: none;
  display: inline-block;
  box-shadow: none;
  outline: none;
  height: auto;
  width: calc(100% - 30px);
}

@media (max-width: 768px) {

  .container-main-search{
    position: absolute;
    left: 0;
    width: 99.5%;
    height: auto;
  }


  .search-container {

    padding: 30px;
    background: #f4f4f4;
    width: 100%;
    border-bottom: 1px solid #fff;
    z-index: 1;
    line-height: 22.1px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
  }

  .searchform {
   // border: solid 1px yellow;
    font-size: 13px;
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 100%;
  }

  .inputbox {
    background: none;
    border: none;
    display: inline-block;
    box-shadow: none;
    outline: none;
    height: auto;
    width: calc(100% - 30px);
  }


}
