<div class="section-information-services">

  <div class="container-information">

    <div class="form-info-services">
  <h1 class="title-info-services">Necesita más información, escríbanos</h1>

  <form [formGroup]="form" (ngSubmit)="sendForm()" >

    <div class="row-1">
      <div class="input-1">
      <label>Nombre</label>
      <input type="text"
      formControlName="nombre">
      </div>

      <div class="input-2">
        <label >Email</label>
        <input type="email"
        formControlName="email">
      </div>

    </div>
    <div class="row-2">
      <div class="input-3">
        <label >Telefono</label>
        <input type="number"
        formControlName="telefono">
      </div>

    </div>
    <div class="row-3">
      <label >mensaje</label>
    <textarea name="" id="" cols="40" rows="6"
    formControlName="mensaje"></textarea>
    </div>
    <button type="submit">Enviar</button>

  </form>

    </div>

    <div class="programming-lang-services">



      <h1>{{lista.titulo}}</h1>
<ng-container *ngFor="let i of lista.data;let index = index">
    <div class="item-programming-languaje" *ngIf="(index+1)<lista.data.length">
      <h2><span>{{index+1}}</span> {{i}}</h2>
      <hr>
    </div>

    <div *ngIf="(index+1) ==lista.data.length" class="item-programming-languaje">
      <h2><span>{{index+1}}</span> {{i}}</h2>
    </div>

</ng-container>


    </div>

  </div>

  </div>


  <br>
  <br>
  <pre style="color: black;">Estado form :{{form.valid}}</pre>
  <span style="color: black;">{{form.status}}</span>

  <pre style="color: black;">{{form.value|json}}</pre>
