@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";
.banner {
  width: 100%;
  height: 80vh;
  position: relative;


  .banner_container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

  }
}

.develop {
  background-color: #000124;
  width: 100%;
  height: auto;
  position: relative;
  padding: 35px;
  border-radius: 6px;
  z-index: 1;

  .develop_text {

position: relative;
    background-color: #000124;
    color: white;
    width: 80%;
    margin: auto;
    font-family: "Oswald", Helvetica, sans-serif;

    h3 {
      font-size: 23px;
      font-weight: 300;
      text-align: left;
      opacity: 0;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      text-align: left;
      opacity: 0;
    }

    .text-banner{
      position: absolute;
      top: 0;
      color: white;
       z-index: 1;

      .text-banner-title {
        font-size: 23px;
        font-weight: 300;
        text-align: left;
        color: white;
        opacity: 1;
        font-family: "Oswald", Helvetica, sans-serif;
      }

      .text-banner-description {
        font-size: 18px;
        font-weight: 300;
        opacity: 0.6;
        text-align: left;
        color: white;
        font-family: "Oswald", Helvetica, sans-serif;
      }

    }





  }




}

.develop::after{
  position: absolute;
  content: '';
  background-color: #000124;
  top: -6px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: skewY(1.5deg);
  -ms-transform: skewY(1.5deg);
  transform: skewY(1.5deg);
  border-radius: 6px;
  transform-origin: right top;

}

.develop::before{
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 30%;
  display: block;
  border-radius: 4px;
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
  right: 5%;
  top: -20px;
  z-index: -1;

}


.down-banner-container{

width: 100%;
height: 48px;
position: relative;
}


.down-banner-container::after{
  position: absolute;
    content: '';
    left: 20%;
    top: 0;
    width: 25px;
    height: 15px;
    background-color: #000124;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    border-radius: 0px 0px 5% 0px;
    border-bottom-right-radius: 4px;

}


@media screen and (max-width: 1200px) {

  .develop {
     background-color: #000124;
     width: 100%;
     height: auto;
     position: relative;
     padding: 35px;
     border-radius: 6px;
     z-index: 1;

     .develop_text {

   position: relative;
       background-color: #000124;
       color: white;
       width: 80%;
       margin: auto;
       font-family: "Oswald", Helvetica, sans-serif;

       h3 {
         font-size: 23px;
         font-weight: 300;
         text-align: left;
         opacity: 0;
       }

       p {
         font-size: 18px;
         font-weight: 300;
         text-align: left;
         opacity: 0;
       }

       .text-banner{
         position: absolute;
         top: 0;
         color: white;
          z-index: 1;

         h3 {
           font-size: 23px;
           font-weight: 300;
           text-align: center;
           color: white;
           opacity: 1;
         }

         p {
           font-size: 18px;
           font-weight: 300;
           opacity: 0.6;
           text-align: center;
         }

       }


     }




   }

}





@media screen and (max-width: 767px) {
  .banner {
    width: 100%;
    height: 700px;
    position: relative;
    top: 160px;

    .banner_container {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;

    }
  }

}


@media screen and (max-width: 480px) {
  .banner {
    position: relative;
    top: 190px;
    height: 520px;
  }

}

@media screen and (max-width: 450px) {
  .banner {
    position: relative;
    top: 230px;
  }
}

