
<ng-container *ngIf="bannerOb$ | async as banner ; else noBanner">
  <div class="banner">
    <div
      class="banner_container"
      style="background-image:url({{banner.attributes.img.data[0].attributes.formats.large.url}})"
    ></div>
  </div>
    <div class="develop">
      <div class="develop_text">
        <h3 *ngFor="let i of banner.attributes.title_banner_pages.data">{{i.attributes.title}}</h3>
        <p *ngFor="let lista of banner.attributes.description_banner_pages.data">{{lista.attributes.text}}</p>
        <div class="text-banner">
          <h3 class="text-banner-title" *ngFor="let i of banner.attributes.title_banner_pages.data">{{i.attributes.title}}</h3>
          <p class="text-banner-description" *ngFor="let lista of banner.attributes.description_banner_pages.data">{{lista.attributes.text}}</p>
        </div>
      </div>

    </div>
  <div class="down-banner-container">
  </div>

  </ng-container>

  <ng-template #noBanner>
    <div class="container-loading">
    <img class="logo-loading" src="https://res.cloudinary.com/dg80o93to/image/upload/v1685738117/Logo_preload_2_909f37fbc5.png" alt="mdp">
    </div>
  </ng-template>
