<ng-container *ngIf="{sup: subpage$ | async, url: urls$ | async} as page" >
  <div class="container" *ngIf="page.sup && page.url; else loading">
      <div class="left-container">
        <!-- Contenido del contenedor izquierdo -->
        <div class="text-box">

          <h2>{{page.sup.data[0].attributes.tittle_about_pages.data[0].attributes.tittle}}</h2>
          <p class="mb-[20px]"
            *ngFor="let item of page.sup.data[0].attributes.description_about_pages.data; let indice = index">
            <span *ngIf="indice<4">{{ item.attributes.description}}</span>
          </p>

          <img class= "mb-[30px] mt-[30px]" src="{{page.url.data[0].attributes.imagen.data.attributes.formats.small.url}}" alt="{{page.url.data[0].attributes.imagen.data.attributes.alternativeText}}">

          <p class="mb-[20px]"><span>
            {{ page.sup.data[0].attributes.description_about_pages.data[4].attributes.description }}
          </span></p>
      </div>
        

      </div>
      <div class="right-container">
        <div *ngFor="let img of page.url.data; let indice=index">
          <div *ngIf="indice>0">
        <img src="{{img.attributes.imagen.data.attributes.formats.small.url}}" alt="{{img.attributes.imagen.data.attributes.alternativeText}}" class="imagen">
      </div>
      </div>
      </div>

    </div>
</ng-container>
<ng-template #loading>
  <p>loading.......</p>
</ng-template>