.container {
    top:2vw;
    margin-bottom: 4vw;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    position: relative;
    width: 100;
    justify-content: space-between;
    max-width: 100%;
    
}
  
  .left-container {
    flex-basis: 60%; /* por defecto ocupa el 60% del ancho */
    max-width: 60%;     
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;

  }
  
  .right-container {
    flex-basis: 40%; /* por defecto ocupa el 60% del ancho */
    max-width: 40%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    
  }
  
  .imagen {
    max-width: 100%;
    height: auto;
  }

  .text-box {
    width: 100%;
    max-width: 80%; /* establecer un ancho máximo */
    text-align: left; /* justificar el texto */
    background-color: transparent;

  }

  h2 {
    font-size: 2em;
    color: #535353;
    margin-bottom: 1em;
    font-family: 'Oswald', 'Helvetica', 'Arial', sans-serif;
    font-weight: 20;
  }

  p {
    font-size: 13px;
    line-height: 1.5;
     color: #535353;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  }
  
@media (max-width: 768px) { /* media query para pantallas pequeñas */

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        
      }
    
    
    .left-container {
      flex-basis: auto; /* ocupa todo el ancho disponible */
      max-width: none; /* no tiene un máximo */
      order: 1; /* cambia el orden en el que se muestran los contenedores */
      justify-content: center;
      
    }

    
  
    .right-container {
      flex-basis: auto; /* ocupa todo el ancho disponible */
      max-width: none; /* no tiene un máximo */
      order: 2; /* cambia el orden en el que se muestran los contenedores */
    }
  }