.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
  }
  
  .leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
  }
  
  .slider {
    position: relative;
    height: 100%;
  }
  
  .dotsContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 90%;
    left: 90%;
  }
  
  .dot {
    margin: 0 3px;
    cursor: pointer;
    font-size: 20px;
  }
  .dotsContainer__bar {
      margin-bottom: 10px;
      width: 60px;
      height: 3px;
      background-color: #fff;  
  }
  .iconMouse {
    position: absolute;
    width: 33px;
    height: 55px;
    background: #fff;
    border-radius: 50px;
    left: 49%;
    top: 82%;
    opacity: 0.3;
  }
  .iconMouse__bar {
    position: absolute;
    width: 3px;
    height: 13px;
    background: #000;
    left: 46.7%;
    top: 56%;
    animation-name: bottomUp;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes bottomUp {
    0% {
        top: 56%;
    }
  
    50% {
        top: 20%;
    }

    100% {
        top: 56%
    }
  }

  .iconMouse:hover {
    cursor: pointer;
  }
  
  