<div class="container_consulting_2">
  <h1 class="title">Plan de Transformacion</h1>
  <div class="part_1 part">
    <h3 class="title_1">Simulacion Ágil</h3>
    <hr />
    <div class="circle"></div>
    <p class="number">01</p>
    <p class="descripcion">1/2 dia</p>
  </div>
  <div class="part_2 part">
    <h3 class="title_1">Evaluacion Ágil</h3>
    <hr />
    <div class="circle"></div>
    <p class="number">02</p>
    <p class="descripcion">5 días(de preparacion organizacional)</p>
  </div>
  <div class="part_3 part">
    <h3 class="title_1">Acelerador Ágil</h3>
    <hr />
    <div class="circle"></div>
    <p class="number">03</p>
    <p class="descripcion">5 dias</p>
  </div>
  <div class="part_4 part">
    <h3 class="title_2">Alineación de Negocio y TI</h3>
    <hr />
    <div class="circle"></div>
    <p class="number">04</p>
  </div>
  <div class="part_5 part">
    <h3 class="title_2">Equipos de alto rendimiento</h3>
    <hr />
    <div class="circle"></div>
    <p class="number">05</p>
  </div>
  <div class="part_6 part">
    <h3 class="title_2">Proyectos que entregan valor</h3>
    <hr />
    <div class="circle"></div>
    <p class="number">06</p>
  </div>
</div>
