<ng-container *ngIf="planConsulting$ | async as pc">
  <div class="container_consulting_2">
    <h1 class="title">{{pc.attributes.title}}</h1>
    <div class="container_consulting_3">
    <div class="part_1 part" *ngFor="let i of pc.attributes.plan_child_consultings.data; let a=index">
      <h3 class="title_1">{{pc.attributes.plan_child_consultings.data[a].attributes.title}}</h3>
      <hr />
      <div class="circle"></div>
      <p class="number">{{pc.attributes.plan_child_consultings.data[a].attributes.paso}}</p>
      <p class="descripcion">{{pc.attributes.plan_child_consultings.data[a].attributes.tiempo}}</p>
    </div>
  </div>
  </div>
  </ng-container>
