<app-header></app-header>

<ng-container>
  <div>
  <div class="space"></div>

  <div id="titulo" class="div-container text-center">
    <h3 class="title">Sector Banca</h3>
  </div>

  <section id="seccion" class="div-container">
    <div id="contenedor" class="div-container">
      <div class="grid grid-cols-3 gap-4">
        <div class="margin-box">
          <div>
            <div class="image-boxes-holder">
              <img
                src=""
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="titulo" class="div-container text-center">
    <h3 class="title">Sector Aseguradoras y AFP´s</h3>
  </div>

  <section id="seccion" class="div-container">
    <div id="contenedor" class="div-container">
      <div class="grid grid-cols-3 gap-4">
        <div class="margin-box">
          <div>
            <div class="image-boxes-holder">
              <img
                src=""
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="titulo" class="div-container text-center">
    <h3 class="title">Sector Telecomunicaciones</h3>
  </div>

  <section id="seccion" class="div-container">
    <div id="contenedor" class="div-container">
      <div class="grid grid-cols-3 gap-4">
        <div class="margin-box">
          <div>
            <div class="image-boxes-holder">
              <img
                src=""
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="titulo" class="div-container text-center">
    <h3 class="title">Sector Retail</h3>
  </div>

  <section id="seccion" class="div-container">
    <div id="contenedor" class="div-container">
      <div class="grid grid-cols-3 gap-4">
        <div class="margin-box">
          <div>
            <div class="image-boxes-holder">
              <img
                src=""
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="titulo" class="div-container text-center">
    <h3 class="title">Otros Sectores</h3>
  </div>

  <section id="seccion" class="div-container">
    <div id="contenedor" class="div-container">
      <div class="grid grid-cols-3 gap-4">
        <div class="margin-box">
          <div>
            <div class="image-boxes-holder">
              <img
                src=""
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
</ng-container>

<app-footer></app-footer>
