<footer>
  <ng-container *ngIf="footer$ | async as f else noFooter">
  <div class="footer-container">
    <div class="up-footer">
      <div class="last-tweets">
        <h2 class="titulo-footer">Últimos Tweets</h2>
        <div class="tweet">
          <i class="fa-brands fa-twitter tweet-icon"></i>
          <div class="tweet-text">
            <p>
              DevOps ¿Qué proponemos? Cuarto extracto de la presentación que
              realizamos para nuestros clientes
            </p>
          </div>
        </div>

        <div class="tweet-botton">
      <div class="form-tweet"></div>
        </div>

        <iframe
          id="twitter-widget-0"
          scrolling="no"
          frameborder="0"
          allowtransparency="true"
          allowfullscreen="true"
          class="twitter-follow-button twitter-follow-button-rendered"
          style="
            position: static;
            visibility: visible;
            width: 186px;
            height: 20px;
          "
          title="Twitter Follow Button"
          src="https://platform.twitter.com/widgets/follow_button.2b2d73daf636805223fb11d48f3e94f7.es.html#dnt=false&amp;id=twitter-widget-0&amp;lang=es&amp;screen_name=mdp_consulting&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1682856010490"
          data-screen-name="mdp_consulting"
        ></iframe>
      </div>

      <div class="contact">
        <h2 class="titulo-footer">Contáctenos</h2>
        <ul class="list-contact">
          <li>
            Dirección:
            <span>{{f.data[0].attributes.direccion}}</span
>
          </li>
          <li>Teléfonos: <span>{{f.data[0].attributes.telefono}}</span></li>
          <li>Email: <a href="#">{{f.data[0].attributes.email}}</a></li>
        </ul>
      </div>
    </div>

    <div class="down-footer">
      <div class="logo-footer">
        <a href="#">
          <img  src="{{f.data[0].attributes.logoUrl}}" alt="logoMdp"/>
        </a>
        <div class="footer-copy">
          <span>© {{f.data[0].attributes.fechaCopyright}} Derechos Reservados</span>
        </div>
      </div>

      <div class="social-network-footer">
        <a *ngFor="let item of f.data[0].attributes.social_networks.data" href="{{item.attributes.url}}"><i class="fa-brands {{item.attributes.icon}}"></i></a>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #noFooter>
  <div class="lds-dual-ring"></div>
</ng-template>




</footer>
